body {
    margin: auto; /*page tu dong can vao center*/
    width: 1200px;
    background-color: rgb(167, 224, 255);
}

h1 {
    color:chocolate;
    text-align: center;
    font-size: 40px;
}

p {
    color:blue;
    text-align: center;
    font-size: 30px;
}

#gallery {
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*xep vua van cac pic vao 1 khung body*/
    justify-content: center;
}

/* style for layouts div.pic */
.pic {
    margin: 5px; 
    float: left; /*day ptu sang trai/phai */
    /* width: 350px;  */
    flex-basis: 390px;
    flex-grow: 1;
}

/* style for pics. */
.pic img {
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    transition: 0.3s; /*time of animation*/
    border-radius: 15px;
}

img:hover {
    opacity: 0.75;
    border-radius: 50px;
}
